* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(135deg, #0d253f, #2c3e50);
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 40px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #3498db;
}

p {
    margin: 15px 0;
    line-height: 1.6;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

header {
    margin-bottom: 30px;
}

header img {
    width: 150px; /* Ajuste o tamanho da logo conforme necessário */
}
