body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('img/fundoh.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  #header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #e64a19;
  }
  
  .container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
  }
  
  .vehicle-item {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
  }
  
  .vehicle-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .details {
    flex: 1;
  }
  
  @media (max-width: 600px) {
    .vehicle-item {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .vehicle-item img {
      margin-bottom: 10px;
    }
  }
  
