/* Estilos padrão para dispositivos maiores */
body {
    font-size: 16px;
    background-color: white;
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: lightgray;
    }
}

/* Media query para telas menores que 480px */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        background-color: darkgray;
    }
}
