.button-membros {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1.2em; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.button-membros:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}
